.progress-bar-container {
    width: 500px;
    height: 50px;
    margin: 50px 0px;
    background: black;
}

.progress-bar-indicator {
    height: 100%;
    background-image: linear-gradient(to right, red, green, blue);
    border-radius: 25px;
}

/*  */
#indicator-1 {
    width: 80%;
}

.mainContent {
    position: relative;
    top: 2vw;
    /* border: 2px solid black; */
    height: 600px;
}

.mainContent>div>div {
    /* border: 2px solid white; */
    border-right: 2px solid white;
    /* box-shadow: 2px 2px #8888883a; */
    /* padding: 4vh; */
    margin: 3vh;
}

.left {
    /* border: none; */
    background-color: white;
    position: relative;
    right: 4vw;
    top: 5vh;
    padding-left: 1vw;
    margin-left: 1vw;
    /* margin-bottom: 0; */
    /* height: 300px; */
}

.left {
    background: white;
    height: 360px;
    margin: 50px;
    padding: 20px;
    position: relative;
    width: fit-content;
}

.left::after {
    border-radius: 0 0 200px 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    height: 358px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.left>button {
    display: block;
    background-color: white;
    margin-bottom: 2.6vh;
}

.leftBtn>a {
    text-decoration: none;
    /* border: none; */
    background-color: white;
    /* padding-bottom: 1vh; */
}

.left>button:hover,
.left>button>a:hover {
    background: url(/ecel/img/leftBtnColor.jpg);
    color: white;
    /* margin-bottom: 0; */
}

.left>button>a:hover {
    padding-bottom: 0;
    margin-bottom: 0;
    height: 80%;
}

.left_links:active,
.left>button>a:active {
    background: url(/ecel/img/leftBtnColor.jpg);
    color: white;
}

.mid {
    width: 54vw;
}

.videoPlayer {
    position: relative;
    top: 5vh;
}

#outer {
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.video {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
}

.right {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    position: relative;
    right: 1vw;
    width: 240px;
    text-align: right;
}

.rightText {
    box-shadow: 0 0 7px #00000044;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
    text-align: right;
}

.descContent {}

.row {
    margin-top: 3vh;
    padding-top: 4vh;
}

.descContent>section {
    margin-bottom: 8vh;
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.outerCol {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 205px;
    height: 205px;
    background: linear-gradient(to right, red, green);
}

.ins {
    display: flex;
    width: 250px;
    height: 250px;
}

.end-btn {
    margin-top: 2vw;
    background-color: #DAA521;
    border: none;
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    color: #FFFFFF;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

/* .mainContent {
    display: flex;
    flex-direction: row;
    grid-gap: 43vw;
}

.left {
    display: flex;
    flex-direction: row;
}

.leftBtn {
    margin: 2vh;
    border: 0px;
    cursor: pointer;
    background-color: white;
}

.leftBtn>a {
    text-decoration: none;
} */



#container {
    width: 200px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    /* top: 50px; */
    bottom: 28px;
    transform: translateY(-50%);
    border-radius: 35px;
    border: 3px solid white;
    overflow: hidden;
}

.child {
    width: 100%;
    height: 100%;
}

.progress {
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    font-family: "Segoe UI";
    animation-direction: reverse;
    background: #e5405e;
    background: linear-gradient(to right, rgb(106, 57, 170) 0%, white 40%);
}

.shrinker {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.timelapse {
    animation-name: timelapse;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
    0% {
        width: 100%;
    }

    100% {
        width: 60%;
    }
}

.aboutTitle{
    margin-bottom: 4vh;
    padding-bottom: 4vh;
}

.instructor_name{
    position: relative;
    bottom: 2vh;
    left: 2vw;
}

.aboutCel {
    margin-bottom: 3vh;
    padding-bottom: 20vh;
}

#footer {
    background: hsla(275, 57%, 73%, 1);

    background: linear-gradient(90deg, hsla(275, 57%, 73%, 1) 0%, hsla(266, 57%, 53%, 1) 100%);

    /* background: -moz-linear-gradient(90deg, hsla(275, 57%, 73%, 1) 0%, hsla(266, 57%, 53%, 1) 100%); */

    /* background: -webkit-linear-gradient(90deg, hsla(275, 57%, 73%, 1) 0%, hsla(266, 57%, 53%, 1) 100%); */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C193E1", endColorstr="#7F44CC", GradientType=1);
}